@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Nexa Regular', sans-serif!important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

@font-face {
  font-family: 'Nexa Regular';
  src: url('/fonts/nexa-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bg-opacity-50{
  background-color: rgba(0, 0, 0, 0.5);
}